<div class="user-profile">

    <form #profile="ngForm" name="profile" class="profile-form" (ngSubmit)="updateProfile()">
        <mat-label style="text-align: center">On first login it is necessary to change password</mat-label>
        <mat-form-field appearance="outline" class="text">
            <mat-label>New password</mat-label>
            <input matInput name="current_password" type="password" placeholder="Password" [(ngModel)]="changePassword.oldPassword"/>
        </mat-form-field>
        <mat-form-field appearance="outline" class="text">
            <mat-label>New password</mat-label>
            <input matInput name="new_password" type="password" placeholder="Password" [(ngModel)]="changePassword.newPassword"/>
        </mat-form-field>
        <input name="id" type="hidden" [(ngModel)]="userProfileDTO.id"/>
        
        <button mat-button class="submit" type="submit">Submit</button>
    </form>

</div>
